:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkerTwo: #2d3542;
    --darkest: #111827;
    --lightergray: #adb2b9;
    --lightgray: #8c949f;
    --gray: #687280;
    --light: #eee;
    --blue: #1414df;
    --lightBlue: #00d4ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-toDo-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-toDo-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-toDo-input::placeholder {
    color: var(--gray);
}


/***** CSS DROPDOWN START *****/
.col {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    flex: 0 0 100%;

    .dropdown-container {
        margin: 0 auto;
        margin-bottom: 1px;
    }

    @media (min-width: 767px) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media (min-width: 992px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.dropdown-container {
    position: relative;
    max-width: 240px;
}

.dropdown-container .dropdown-toggle {
    color: var(--light);
    width: 155px;
    height: 58px;
    background-color: var(--gray);
    font-size: 17px;
    padding: 18px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: -0.5rem;
    transition: all ease-in-out 0.3s;
}

.dropdown-container .dropdown-toggle label {
    cursor: pointer;
    width: 100%;
}

.dropdown-container .dropdown-toggle:hover,
.dropdown-container .dropdown-toggle:active,
.dropdown-container .dropdown-toggle:focus {
    background-color: var(--darkerTwo);
    color: #ffffff;
}

.dropdown-container .dropdown-menu {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 17px;
    position: absolute;
    left: -0.9rem;
    top: 100%;
    display: none;
    background-color: #ffffff;
    z-index: 10;
}

.dropdown-container .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
}

.dropdown-container .dropdown-menu a {
    text-decoration: none;
    display: block;
    color: #000000;
    background-color: var(--gray);
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 600;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}

/* Hover, active, focus states for dropdown options */
.dropdown-container .dropdown-menu a:hover,
.dropdown-container .dropdown-menu a:active,
.dropdown-container .dropdown-menu a:focus {
    color: var(--light);
    background-image: linear-gradient(to left, var(--blue), var(--lightBlue));
}

.dropdown-menu,
.dropdown-toggle {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border: 5px solid;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0);
        margin-top: -2.5px;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.3s;
    }
}

.dropdown-menu {
    z-index: 10;
    position: relative;

    &::before {
        z-index: -1;
        transform: rotate(-135deg);
        top: -4px;
        border-color: #ffffff;
        box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }
}

.dropdown-open {
    .dropdown-menu.dropdown-active {
        display: block;
    }
}

/* Color after dropdown button is clicked */
.dropdown-container.dropdown-open .dropdown-toggle {
    background-color: var(--darker);
    color: var(--light);
    transition: background-image ease-in-out 0.3s;
}

/* Rotate dropdown arrow */
.dropdown-container.dropdown-open .dropdown-toggle:before {
    transform: rotate(-135deg);
    transition: transform 0.3s ease-in-out;
}

/***** CSS DROPDOWN END *****/


#new-toDo-submit {
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--blue), var(--lightBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.buttonHoverGroup:hover {
    opacity: 0.7;
}

.buttonHoverGroup:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.toDo-list {
    padding: 1rem;
}

.toDo-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#toDo-items .toDo-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toDo-item.fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.toDo-item.fade-out {
    animation: fadeOut 0.3s ease-out;
}

@keyframes customSortAnimation {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(10px);
    }
}

.custom-sort-animation {
    animation-name: customSortAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.toDo-item .content {
    flex: 1 1 0%;
}

.toDo-item .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.toDo-item .content .text:not(:read-only) {
    color: var(--blue);
}

.toDo-item .actions {
    display: flex;
    margin: 0 0.5rem;
}

.toDo-item .actions button {
    cursor: pointer;
    margin: 0 0.05rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.toDo-item .actions button:hover {
    opacity: 0.7;
}

.toDo-item .actions button:active {
    opacity: 0.6;
}

/* Edit item button */
.toDo-item .actions .edit {
    background-image: linear-gradient(to right, var(--blue), var(--lightBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Delete item button */
.toDo-item .actions .delete {
    color: crimson;
}

.arrow-wrapper {
    position: relative;
    margin-left: 30px;
}

.arrow {
    margin-right: 5px;
}

.up-arrow {
    position: absolute;
    visibility: hidden;
    margin-right: 5px;
    color: green;
    left: -30px;
}

.down-arrow {
    position: absolute;
    visibility: hidden;
    margin-right: 5px;
    color: red;
    left: -18px;
}

.invisible-edit {
    visibility: visible;
}